{% extends 'base.html' %}

{% block head %}
<title>Hosts</title>
{% endblock head %}

{% block content %}
<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
        {% for group,_ in hosts %}
            {% if forloop.first %}
                <a class="list-group-item list-group-item-action active" id="list-{{group}}{{forloop.counter}}-list" data-toggle="list" href="#list-{{group}}{{forloop.counter}}" role="tab" aria-controls="{{group}}">{{group}}</a>
            {% else %}
                <a class="list-group-item list-group-item-action" id="list-{{group}}{{forloop.counter}}-list" data-toggle="list" href="#list-{{group}}{{forloop.counter}}" role="tab" aria-controls="{{group}}">{{group}}</a>
            {% endif %}
        {% endfor %}
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
        {% for group,host_list in hosts %}
            {% if forloop.first %}
                <div class="tab-pane fade show active" id="list-{{group}}{{forloop.counter}}" role="tabpanel" aria-labelledby="list-{{group}}{{forloop.counter}}-list">
                     <ul>{{host_list|unordered_list}}</ul>
                </div>
            {% else %}
                <div class="tab-pane fade show" id="list-{{group}}{{forloop.counter}}" role="tabpanel" aria-labelledby="list-{{group}}{{forloop.counter}}-list">
                    <ul>{{host_list|unordered_list}}</ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}